# Linear Regression with Cross Validation

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [38]:
# Here is the url provided for you
url="https://raw.githubusercontent.com/DrSaadLa/MLLabs/main/data/housing.csv"

In [39]:
# use pd.read_csv() to import the data
df=pd.read_csv(url)

In [40]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [42]:
# generate data
X = np.arange(1, 51)
y = np.array([np.repeat(1, 25), np.repeat(2, 25)]).flatten()

In [43]:
# Import KFold function
from sklearn.model_selection import KFold

In [44]:
# create 5 k-fold splites, whithout shuffling
kf_ord = KFold(n_splits=5, shuffle=False)
# Create splits
splits = kf_ord.split(X)

In [45]:
# Print the number of indices
for train_index, val_index in splits:
    print(len(train_index), len(val_index))

40 10
40 10
40 10
40 10
40 10

In [46]:
# Print the indexes of one train_index and one val_index
print(train_index, val_index)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39] [40 41 42 43 44 45 46 47 48 49]

In [47]:
# create 5 k-fold splites, whith shuffling
kf_shuf = KFold(n_splits=5, shuffle=True, random_state=10123)
# Create splits
splits_shuf = kf_shuf.split(X)
# Print the number of indices
for train_index, val_index in splits_shuf:
    print(len(train_index), len(val_index))

40 10
40 10
40 10
40 10
40 10

In [ ]:
# Print the indexes of one train_index and one val_index
print(train_index, val_index)

In [50]:
# importing boston dataset from sklearn
from sklearn.datasets import housing

ImportError: cannot import name 'housing' from 'sklearn.datasets' (C:\Users\user\anaconda3\lib\site-packages\sklearn\datasets\__init__.py)

In [48]:
X = df.data
y = df.target

AttributeError: 'DataFrame' object has no attribute 'data'